extends ../layout-marketing

block content
	main#main-content.content.content-alt
		.container
			.row
				.registration-message
					if sharedProjectData.user_first_name !== undefined
						h1 #{translate("user_wants_you_to_see_project", {username:sharedProjectData.user_first_name, projectname:""})}
							em #{sharedProjectData.project_name}
						div
							| #{translate("join_sl_to_view_project")}.
						div
							| #{translate("already_have_sl_account")}
							|
							a(href='/login') #{translate("login_here")}
					else if newTemplateData.templateName !== undefined
						h1 #{translate("register_to_edit_template", {templateName:newTemplateData.templateName})}

						div #{translate("already_have_sl_account")}
							|
							a(href='/login') #{translate("login_here")}

			.row
				.col-lg-8.offset-lg-2.col-xl-6.offset-xl-3
					.card
						.card-body
							.page-header
								h1 #{translate("register")}
							p
								| You can self-register by providing your email address. We will send you an activation email to set your password.
							form(name='selfRegisterFromRegister' action='/self-register' method='POST')
								input(type='hidden' name='_csrf' value=csrfToken)
								.form-group
									label(for='selfRegisterEmail') #{translate("email")}
									input#selfRegisterEmail.form-control(
										type='email'
										name='email'
										required
										placeholder='email@example.com'
									)
								.actions
									button.btn.btn-primary(type='submit') 发送激活邮件
							hr
							p
								| 如果你更倾向于联系管理员，也可以发送邮件至
								strong #{settings.adminEmail}
								| 申请账号。
